@{
    ViewBag.Title = "InsertionSort";
}

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Sorting Algorithms</li>
            <li class="breadcrumb-item active">Insertion Sort</li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p style="font-weight:bold">Insertion Sort: </p>
                    <hr />
                    <p>Input the Elements:</p>
                    <div class="form-group">
                        <textarea class="form-control" style="resize: none;" name="textarea" id="textarea" cols="30" rows="2"
                                  oninput="this.value = this.value.replace(/[^0-9,]/g, '').replace(/(\..*)\./g, '$1');"
                                  placeholder="Enter Comma Separated Numbers"></textarea>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary px-3 ml-0" id="noSubmit">Submit</button>
                        <button class="btn btn-primary px-3 ml-3" id="clearVal">Clear</button>
                    </div>
                    <div style="margin-top:15px">
                        <p style="font-weight:bold">Entered Numbers:</p>
                        <p id="inputNos"></p>
                    </div>
                    <hr />
                    <p>Sort the Elements using Insertion Sort</p>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">

                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary px-3 ml-0" id="insertionSort">Sort</button>
                    </div>

                    <hr />
                    <p>Result:</p>
                    <p>The Execution time is: <span id="performance"></span></p>
                    <p>The Iterations are:</p>
                    <span id="errMssg"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(document).on("wheel", "input[type=number]", function (e) {
        $(this).blur();
    });

    $('#noSubmit').on('click', function () {
        //alert();
        //debugger;
        $('#inputNos').empty();
        var textareaVal = $('#textarea').val();
        if (textareaVal == "") {
            alert("Input a Number")
        }
        else {
            $('#inputNos').append(textareaVal)
        }
    })
    $('#clearVal').on('click', function () {
        //debugger;
        $('#textarea').val("");
        $('#inputNos').empty();
        $('#searchElement').val("");
        $('#errMssg').empty();
        $('#performance').empty();
    })

    /*Insertion Sort Algorithm Based on Click Function*/
    $('#insertionSort').on('click', function () {
        debugger;
        $('#errMssg').empty()
        $('#performance').empty();
        var textareaVal = $('#textarea').val();
        var listData = new Array();
        listData = textareaVal.split(',').map(Number);

    /*Insertion Sort Algorithm*/
        var t0 = performance.now()
        var result = "";
        var n = listData.length;
        var i, key, j;
        for (i = 1; i < n; i++)
        {
            key = listData[i];
            j = i - 1;

            while (j >= 0 && key < listData[j])
            {
                listData[j + 1] = listData[j];
                j = j - 1;
                if (j == -1)
                    break;
            }
            listData[j + 1] = key;
            $('#errMssg').append("&nbsp; &nbsp;").append(
                $('<div/>')
                    .attr("id", "newDiv" + i)
                    .addClass("btn mb-1 btn-outline-info")
                    .append("<span/>")
                    .text(listData)
            );
        }
        var t1 = performance.now()
        if (result == -1) {
            $('#errMssg').text("**Element is not present in array").css("color", "#ff3333")
        }
        else
        {
            $('#errMssg').append("<br />" + 'Element found is: ')
            $('#errMssg').append(
                $('<div/>')
                    .attr("id", "newDiv" + i)
                    .addClass("btn mb-1 btn-outline-info")
                    .append("<span/>")
                    .text(listData)
            );
            $('#performance').append(t1 - t0);
        }
    })
</script>